<section id="slider">
    <div class="container">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-sm-6">
                        <h1><span>U</span>-SHOES</h1>
                        <h2>Nike Air Force 1 (Branca)</h2>
                        <p> Aproveite o modelo mais cobiçado da marca Nike.</p>
                        <p> Preço: </p>
                        <a href="https://localhost:44369/nike-air-force-branca"><button type="button" class="btn btn-primary get">Obtenha já!</button></a>
                    </div>
                    <div class="col-sm-6">
                        <img src="/Themes/eshopper/Content/images/home/sapatilhas-air-force-1.png" class="girl img-responsive" alt="">
                       
                    </div>
                   
                </div>
                <div class="item">
                    <div class="col-sm-6">
                        <h1><span>U</span>-SHOES</h1>
                        <h2>Adidas Stan Smith (Verde)</h2>
                        <p> Para qualquer situação num drip sem comparação. </p>
                        <p> Preço: </p>
                        <a href=" https://localhost:44369/teste-3"><button type="button" class="btn btn-primary get">Obtenha já!</button></a>
                    </div>
                    <div class="col-sm-6">
                        <img src="/Themes/eshopper/Content/images/home/adidas_stansmith.jpg" class="girl img-responsive" alt="">
                       
                    </div>
                </div>
                
                <div class="item">
                    <div class="col-sm-6">
                        <h1><span>U</span>-SHOES</h1>
                        <h2>New Balance 550 (Verde)</h2>
                        <p> Com um piso simples e bonito espalhas estilo em qualquer sitio </p>
                        <p> Preço: </p>
                        <a href="https://localhost:44369/new-balance-550"><button type="button" class="btn btn-primary get">Obtenha já!</button></a>
                    </div>
                    <div class="col-sm-6">
                        <img src="/Themes/eshopper/Content/images/home/newbalence.jpg" class="girl img-responsive" alt="">

                    </div>
                </div>

            </div>

            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</section>