@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")

<script type="text/javascript" asp-location="Footer">
    AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
</script>

@*ajax loading window*@
<div class="ajax-loading-block-window" style="display: block">
    <div class="loading-image">
    </div>
</div>
<header id="header">
    <!--header-->
    @await Html.PartialAsync("TopHeader")<!--/header_top-->
    @await Html.PartialAsync("Header")<!--/header-middle-->
    @await Component.InvokeAsync("TopMenu")<!--/header-bottom-->
</header>
@await Component.InvokeAsync("Widget", new { widgetZone = "content_before" })
@RenderBody()
@await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
