<script>
    $(document).ready(function() {
        $('#refundorderoffline').after('<div class="ico-help" title="@T("Plugins.Payments.Skrill.Refund.Offline.Hint")" style="display:inline;color: #3c8dbc;font-size: 1.17em;padding-left: 6px;"><i class="fa fa-question-circle"></i></div>');
        $('#partiallyrefundorderoffline').after('<div class="ico-help" title="@T("Plugins.Payments.Skrill.Refund.Offline.Hint")" style="display:inline;color: #3c8dbc;font-size: 1.17em;padding-left: 6px;"><i class="fa fa-question-circle"></i></div>');
    });
</script>